<h3>Edit Mission</h3>
<small style="color: red;"><%= @errors %></small>

<form action="/missions/<%=@mission.id%>" method="POST">
    <input type="hidden" name="_method" value="PATCH">    

    <label for="title">Mission Name: </label>
    <input type="text" name="title" value="<%=@mission.title%>"><br><br>

    <h3>Mission Description</h3>
    <textarea name="description" rows="6" cols="50" value="<%=@mission.description%>"></textarea><br><br>

    <select>"status"
    <option value="complete">Complete</option></option>
    <option value="in progress">In Progress</option>
    <option value="pending">Pending</option>
    </select><br><br><br>

    <input type="submit" value="Update Mission">
</form>