<h2>My Missions</h2>

 <a href= "/missions/new"><strong> Create a new mission.</strong></a><br>

 <dl>
        <p><% @missions.each do |mission| %></p>

        <br><a href="/missions/<%= mission.id %>"><%= mission.title %></a><br>
    <% end %>
 </dl>   