<h2>My Missions</h2>

 <a href= "/missions/new"><strong> Create a new mission.</strong></a><br><br>

 <ul>
    <% @missions.each do |mission| %>
        <h4 style="color:blue;"><a href="/missions/<%= mission.id %>"><%= mission.title %></a></h4><br>
    <% end %>
 </ul>   