<h2>My Missions</h2>
 <a href= "/missions/new"><strong> Create a new mission.</strong></a><br><br>
    <% @missions.each do |mission| %>
        <li><a href="/missions/<%= mission.id %>"><%= mission.title %></a><br><br>
    <% end %>