
<h2>Create A Mission</h2>
<small style="color: red;"><%= @errors %></small>

<form action="/missions" method="POST">
    
    <label for="title">Title: </label>
    <input type="text" name="title" id="title"><br><br>

    <h3>Mission Description</h3>
    <textarea name="description" rows="6" cols="50"></textarea><br><br>

    <label for="startdate">Startdate: </label>
    <input type="datetime" name="startdate" id="startdate"placeholder="yyyymmdd"><br><br>

    <label for="enddate">Enddate: </label>
    <input type="datetime" name="enddate" id="enddate"placeholder="yyyymmdd"><br><br>


    <input type="submit" value="Create Mission">
</form>