<h3>Create A Mission</h3>
<small style="color: red;"><%= @errors %></small>

<form action="/missions" method="POST">
    <label for="title">Mission Name: </label>
    <input type="text" name="title" id="title"><br><br>

    <label for="description">Mission Description: </label>
    <input type="text" name="description" id="description"><br><br>

    <input type="submit" value="Create Mission">
</form><br><br><br>