<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <title>AlmsDeed</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/main.css">
        </head>

        <body>
            <div class="wrapper">

            <% if flash[:error] %>
            <h2 style="color:red;"><%=flash[:error]%></h2>
            <% end %>
            
                <%= yield %>

                <footer>
                    <small>&copy; 2020 <strong>Missions Tracker</strong>&nbsp; &diams;
                    &nbsp;<% if logged_in? %>
                    <a href="/missions">Your Missions</a> | 
                    <a href="/missions/new">New Mission</a> | 
                    <a href="/logout">Logout</a>
                    <br></div>
                    <% end %></small>
                </footer>

            </div>

        </body>
</html>