 <header>
    <h1>MakeItHappen</h1>

    <div>
      <h2>Welcome to MakeItHappen : Your Missions Tracker! </h2>
      
      <h3>  Create an account or Log In to an existing account : </h3>
      <a button id="loginbtn" type="button" class="btn btn-default" href="/login">Log In</a>
      <br><br>
      <a button id="signupbtn" type="button" class="btn btn-default" href="/signup">Sign Up</a>
      </section>
  </div>
</div>
