
    <h1>Welcome to MakeItHappen : Your Missions Tracker!</h1>
    <body>
    <br>
    <img title="Welcome to MakeItHappen : Your Missions Tracker!" class="right z-depth-4" src="images/mission.jpg" alt="mission" id="mission" style="width:250px;height:250px;" absolute>

    <div>
      <h3>  Create an account or Log In to an existing account : </h3>
      <a button id="loginbtn" type="button" class="btn btn-default" href="/login">Log In</a>
      <br><br>
      <a button id="signupbtn" type="button" class="btn btn-default" href="/signup">Sign Up</a>
      </section>
    </div>
    </body>
